/* pending-orders.component.css */
.order-column {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
  }
  
  .order-card {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  