/* .drag-drop-layout {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.drag-drop-column {
  width: 220%;
  height: 500px;
  margin: 0 10px;
}

.drop-list {
  min-height: 150px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.drop-item {
  padding: 6px 10px;
  margin-bottom: 4px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: grab;
}
h1 {
  font-size: 36px; 
  color: #8B4513; 
  font-family: 'Arial', sans-serif; 
  text-align: center; 
  padding-bottom: 10px; 
}
.center-text {
  text-align: center; 
  font-size: 30px;
  color: #8B4513;
} */

.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.list {
  width: 24%;
  min-height: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  background-color: #f9f9f9;
}