
<h1>Kitchen Display</h1>
<div class="drag-drop-layout">
  <div class="drag-drop-column">
    <h3>Pending Orders</h3>
    <div cdkDropList [cdkDropListData]="pendingOrders" class="drop-list" cdkDropListSortingDisabled>
      <div class="drop-item" *ngFor="let orderType of pendingOrders" cdkDrag>{{ orderType }}</div>
    </div>
  </div>
  <div class="drag-drop-column">
    <h3>Being Preparing</h3>
    <div cdkDropList class="drop-list" cdkDropListSortingDisabled>
    </div>
  </div>
  <div class="drag-drop-column">
    <h3>Ready to Serve</h3>
    <div cdkDropList #possibleOverridesList="cdkDropList" [cdkDropListData]="BeingPreparing" [cdkDropListConnectedTo]="['BeingPreparingdesList']" (cdkDropListDropped)="onDrop($event)" class="drop-list">
      <div class="drop-item" *ngFor="let override of BeingPreparing" cdkDrag>{{ override }}</div>
    </div>
  </div>
  <div class="drag-drop-column">
    <h3>Delivered</h3>
    <div cdkDropList #ReadyToServedesList="cdkDropList" [cdkDropListData]="ReadyToServe" (cdkDropListDropped)="onDrop($event)" class="drop-list">
      <div class="drop-item" *ngFor="let ReadyToServe of ReadyToServe" cdkDrag>{{ReadyToServe}}</div>
    </div>
  </div>
</div>




