
<!-- <div class="dashboard">
    <button (click)="onButtonClicked(1)">Button 1</button>
    <button (click)="onButtonClicked(2)">Button 2</button>
    <button (click)="onButtonClicked(3)">Button 3</button>
    <button (click)="onButtonClicked(4)">Button 4</button>
  </div> -->
  
  
<div class="dashboard">
  <div class="left-buttons">
    <button (click)="onButtonClicked(1)">
      <i class="fas fa-arrow-left"></i> Logout
    </button>
    <button (click)="onButtonClicked(2)">
      <i class="fas fa-bars"></i> Order List
    </button>
  </div>

  <div class="right-buttons">
    <button (click)="onButtonClicked(3)">
      <i class="fas fa-search"></i> Sttings
    </button>
    <button (click)="onButtonClicked(4)">
      <i class="fas fa-bell"></i> Refresh
    </button>
  </div>
</div>
