 
  /* .button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;

  }  */
  
/* src/app/dashboard/dashboard.component.css */

.dashboard {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.left-buttons, .right-buttons {
  display: flex;
  align-items: center;
}

button {
  margin: 0 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #2980b9;
}

