h1 {
  text-align: center;
  color: black;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  color: green;
}

.stat-item {
  text-align: center;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
  color: green;

}

.value {
  font-size: 20px;
  color:black;
  align-self:self-end; 
  margin-top: 10px; 

}

.stat-icon {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 24px;
}

.value {
 position: absolute;
 right: 10px;
 bottom: 10px;
}
