
<nz-spin [nzSpinning]="loading" nzTip="Loading orders...">
  <h1>Current Day Stats</h1>
  
  <div class="stats-container">
    <div class="stat-item">
      <i class="fas fa-clipboard-list stat-icon"></i> 
      <div class="label">Total Orders</div>
      <div class="value">{{ totalOrders }}</div>
    </div>
  
    <div class="stat-item">
      <i class="fas fa-hourglass-half stat-icon"></i> 
      <div class="label"> Current number of Pending Orders</div>
      <div class="value">{{ pendingOrders }}</div>
    </div>
  
     
    <div class="stat-item">
      <i class="fas fa-utensils stat-icon"></i> 
      <div class="label"> Current number of Orders Being Prepared</div>
      <div class="value">{{ preparingOrders }}</div>
    </div>
  
    <div class="stat-item">
      <i class="fas fa-concierge-bell stat-icon"></i> 
      <div class="label">Current number of Orders Served</div>
      <div class="value">{{ servedOrders }}</div>
    </div>
  
    <div class="stat-item">
      <i class="fas fa-clock stat-icon"></i> 
      <div class="label"> Number of orders Served On Time</div>
      <div class="value">{{ servedOnTime }}</div>
    </div>
  
    <div class="stat-item">
      <div class="label"> Number of orders Served Out of Time</div>
      <i class="fas fa-history stat-icon"></i>
      <div class="value">{{ servedOutOfTime }}</div>
    </div>
  </div>


<!-- <h2>Chef Statistics</h2>
<div class="chef-container">
  <div *ngFor="let chef of chefs" class="chef-stat-item">
    <i class="fas fa-chef stat-icon"></i>
    <div class="label">Chef: {{ chef.chef.name }}</div>
    <div class="value">Total Served: {{ chef.totalServed }}</div>
    <div class="value">Served On Time: {{ chef.servedOnTime }}</div>
    <div class="value">Served Late: {{ chef.servedLate }}</div>
  </div>
</div> -->
</nz-spin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
