h1 {
  text-align: center;
  color: black;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
}
.stats-container {
  display: flex;
  justify-content: space-around;
  color: green;
}
.stat-item {
  text-align: center;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
  color:green;
  

}

.value {
  font-size: 13px;
  color:black;
  align-self:self-end; 
  font-weight: bold;
  
 
}
.orderNumber{
  font-size: 15px;
  color:black;
  align-self:self-end; 
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 24px;
}

.stat-icon {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 24px;
}

 .chef-container {
  display: flex;
  flex-wrap: wrap;
  color: green;
} 

h2 {
  text-align: left;
  color: black;
  font-size: 30px;
  margin-top: 8PX;
  font-weight: bold;
  
}

.chef-stat-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: green;
  margin: 10px;
  padding: 15px;
  text-align: left;
}

.online-container {
  display: flex;
  align-items: center;
  margin-left: 5px; 
}

.online-icon {
  font-size: 9px; 
  color: lawngreen; 
}

.online-text {
  margin-left: 2px; 
  font-weight: bold;
  color:lawngreen;
}

h3 {
  text-align: left;
  color: black;
  font-size: 30px;
  margin-top: 2px;
  font-weight: bold;
}

.item-statistics-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
}

.item-statistic {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  width: 200px;
  border-radius: 10px;
}

.item-name {
  font-weight: bold;
  font-size: 15px;
  color: green;
}

.item-count {
  color: black;
  font-weight: bold;
  /* font-size: 13px; */

}
